<a href="https://colab.research.google.com/github/psalms274/psalms274.github.io/blob/main/1%EC%A3%BC%EC%B0%A8(1~3%EC%B0%A8%EC%8B%9C)_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#숫자형 할당
amount=100000
amount

100000

In [65]:
#문자형 할당
asset="stock"  #문자열 할당 시 작은 따옴표나 큰 따옴표 둘다 사용 가능
# 여러 줄의 문자를 저장할 경우, """나 '''와 같이 따옴표 세 개를 연이어 사용해야 함
print(asset)
print(type(asset))  #asset의 자료형 출력

print(asset[0])  #asset에 저장된 문자열의 첫 번째 요소 출력
print(len(asset))  #asset에 저장된 문자열의 길이 출력

stock
<class 'str'>
s
5

In [4]:
#숫자형 할당(정수형)
quantity=15
quantity

15

In [5]:
#숫자형 할당(실수형)
price=amount/quantity
price

6666.666666666667

In [6]:
#Boolean형
a=True
b=False
print(a,b)

True False

In [41]:
#No value형(첫 번째 출력은 None값이고, 두 번째 출력은 None이라는 문자형임)
no_value=None
print(no_value)
print( type(no_value) )

no_value1="None"
print(no_value1)
print( type(no_value1) )

None
<class 'NoneType'>
None
<class 'str'>

In [10]:
#자료형(리스트) list라는 변수에 리스트 저장한 것임
list=["삼성","LG","현대","삼성"]
list

['삼성', 'LG', '현대', '삼성']

In [11]:
#자료형(튜플) tuple은 list와 달리 값들을 변경하지 않을 경우에 사용한다.
tuple=("삼성","LG","현대","삼성")
tuple

('삼성', 'LG', '현대', '삼성')

In [43]:
#자료형(집합) set은 중복값을 출력하지 않음
set={"삼성","LG","현대","삼성"}
set

{'LG', '삼성', '현대'}

In [13]:
#자료형(딕셔너리) 'key:값'의 형태로 한 쌍을 하나의 원소로 저장
dict={"1":"삼성","2":"LG","3":"현대","4":"삼성"}
dict

{'1': '삼성', '2': 'LG', '3': '현대', '4': '삼성'}

In [23]:
#제어문(조건문 if) ***제어문 다음에는 반드시 콜론을 사용한다.
previous_price = 900
current_price = 1000
fee = 0.1
profit_change = (current_price-previous_price) / previous_price

if profit_change > fee:
  print("buy stock")
elif profit_change < 0:
  print("sell stock")
else:
  print("hold stock")

buy stock

In [24]:
#제어문(반복문 for) 아까 list에 저장해둔 값들을 하나씩 출력하는 반복문
for i in list:
  print(i)

삼성
LG
현대
삼성

In [27]:
#제어문(반복문 while) 
i = 0
while i < 10:  #여기 조건부가 참인 동안 계속 반복
  print(i)
  i += 1  #프로그램은 우측부터 실행, 왼쪽으로 간다. 즉 i = i+1의 의미

0
1
2
3
4
5
6
7
8
9

In [31]:
#함수 정의
def add(x, y):  #함수 뒤 괄호 안의 변수를 매개변수라고 한다.
  return x+y

result = add(5,4)
print(result)

9

In [55]:
#사칙 연산, 제곱(**), 몫(//)과 나머지(%)
a = 1
b = 2
c, d, e = 3,4,5
print(a+b, a-b, a*b, a/b)
print(c**b, b**0.5)
print(e/b, e//b, e%b)  #나누기, 몫구하기, 나머지

3 -1 2 0.5
9 1.4142135623730951
2.5 2 1


c+d의 값은: e = c+d = 5

In [60]:
#파이썬 내장함수 format 사용 예제
c,d = 3,4
e = c+d
print( "c+d의 값은: e = c+d = {0:d}". format(e) )

c+d의 값은: e = c+d = 7

In [64]:
#파이썬 내장함수 format 사용 예제2
a,b,c,d,e=1,2,3,4,5
print( "+,-,*,/ 사칙연산의 결과들은 {0},{1},{2},{3} 이다." .format(a+b,a-b,a*b,a/b) )
print( "c의 e제곱과 b의 제곱근의 결과들은 {0:d},{1:.2f}이다." .format(c**e, b**0.5) )
        #{0:d}는 format의 첫번째 요소(c**e)를 정수형으로 나타내라는 의미
        #{1:.2f}는 format의 두번재 요소(b**0.5)를 소숫점 둘째자리까지의 실수형으로 나타내라는 의미

+,-,*,/ 사칙연산의 결과들은 3,-1,2,0.5 이다.
c의 e제곱과 b의 제곱근의 결과들은 243,1.41이다.

In [72]:
string1 = "What are Python's strength?"
string2 = '"Python is very easy." I always say.'
string3 = " \"Python is very easy.\" I always say." #따옴표 앞에 백슬래쉬(\) 넣으면 따옴표를 문자로 출력한다.
string1, string2, string3

("What are Python's strength?",
 '"Python is very easy." I always say.',
 ' "Python is very easy." I always say.')

In [75]:
tab_string = "\t" # \t는 탭문자를 의미. 예약어이고, 하나의 문자로 인식됨
print(len(tab_string))

n_tab_string = r"\t" # \t앞에 r을 붙이면, \와 t를 개별 문자로 인식한다.
print(len(n_tab_string))

1
2

In [79]:
#문자열 합치기
company_name = "Samsung"
price = "85000" #따옴표 안에 있으므로 숫자가 아닌 문자 85000임. 따옴표 없애면 에러난다.
stock_price = company_name + " " + price
stock_price

'Samsung 85000'

In [81]:
print("*"*50) #별표 50개 출력
print(stock_price*3)
print("*"*50)

**************************************************
Samsung 85000Samsung 85000Samsung 85000
**************************************************

In [103]:
#인덱싱 슬라이싱(문자열 특정 부분 자르기)
single_string = 'To be, or not to be, that is the problem'
print(len(single_string), single_string[0]) #인덱싱 [0]은 첫 번째 요소니까 "T"출력
print(single_string[5]) #인덱스[5]는 6번째 요소 ","
print(single_string[:5]) # :5는 처음("T")부터 5번째 원소("e")까지 출력. 이 경우 카운팅이 0이 아닌 1부터 시작됨

print("\n")

print(single_string[10]) #인덱스[10]은 11번째인 "n"
print(single_string[-1]) #인덱스[-1]은 마지막 요소인 "m"
print(single_string[10:-1]) #[10:-1]은 인덱스 10부터 끝까지 출력

40 T
,
To be


n
m
not to be, that is the proble

In [118]:
#숫자 바로 넣기
print("I have %d stocks." %3) #정수형이라서 %d

#변수를 넣기
quantity = 5
print("I have %d stocks." %quantity)

#문자열을 넣기
company_name = "Samsung"
print("I have %s stocks." %company_name)

#format함수 활용해서 넣기
company_name = "Samsung"
price = "85000"
stock_price = "{0},{price}".format(company_name, price=50000)
print(stock_price) #price에는 초기값(85-)이 아닌 format()안의 값(50-)이 출력된다.

# f-string 이용하기 (f는 format을 의미한다.)
stock_price2 = f'{company_name} {price}'
print(stock_price2)
stock_price3 = f"""{company_name} {price}""" #큰따옴표나 작은따옴표나 3따옴표나 상관없다.
print(stock_price3)

I have 3 stocks.
I have 5 stocks.
I have Samsung stocks.
Samsung,50000
Samsung 85000
Samsung 85000

In [119]:
new_price = "100,000" #문자열10만
stock_price5 = f"""{company_name}
{price}
{new_price}""" #여러 줄의 문자열을 저장하니까 3따옴표 필요
print(stock_price5) #"""쓰니까 개행된 채로 그대로 출력된다.

Samsung
85000
100,000

In [124]:
#문자열 내장 함수(문자열변수 이름 뒤에 '.'을 붙인 다음, 함수 이름을 써서 사용한다.)
single_string = "to be, or not to be, that is the question"

#문자갯수세기(내장함수 count 사용)
print(single_string.count("r")) #r이 몇번 나왔는지
print(single_string.count("n"))

#문자위치(내장함수 find 사용)
print(single_string.find('t')) #처음으로 나온 위치를 알려줌(대소문자 구분한다.)
print(single_string.find('be'))

1
2
0
3

In [161]:
text=single_string
print(text)

#첫 문자를 대문자로 변경
print(text.capitalize())

#모든 문자를 대문자로 변경
print(text.upper())

#모든 문자를 소문자로 변경
print(text.lower())

#문자열 바꾸기
print(text.replace("question", "QUESTION"))
print("\n")

#빈칸을 기준으로 단어별로 나누는 split 내장함수
print(text.split())

#split함수 안에 특정 값이 있는 경우엔 그것을 기준으로 split한다.
print(text.split("o"))
text2 = "ab.cd.ef.g.hij.k"
print(text2.split("."))
print("\n")

#특정 문자를 지정해서 지우는 strip 내장함수
'http://www.python.org'.strip('htp:/') #tt랑 //는 중복이라 한번만 써도 지워짐

to be, or not to be, that is the question
To be, or not to be, that is the question
TO BE, OR NOT TO BE, THAT IS THE QUESTION
to be, or not to be, that is the question
to be, or not to be, that is the QUESTION


['to', 'be,', 'or', 'not', 'to', 'be,', 'that', 'is', 'the', 'question']
['t', ' be, ', 'r n', 't t', ' be, that is the questi', 'n']
['ab', 'cd', 'ef', 'g', 'hij', 'k']

'www.python.org'